#container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#commands {
  padding: 10px;
}

#commands input[type='text'] {
  margin-top: 10px;
  width: 100%;
}

.item {
  border-radius: 10px;
  border: 1px solid orangered;
  padding: 10px;
  margin: 10px 0;
}

.item:hover {
  cursor: pointer;
}

.selected {
  background-color: lightpink;
}
